@{
    ViewData["Title"] = "Félicitation";
}

<div class="text-center">
    <h2 class="display-4">Félicitation !</h2>

    <p>Votre compte a été créé avec succès, sans être enregistrer dans notre base de données afin de préserver vos informations privées !</p><br />
    <p>Vous pouvez désormer ne pas vous connecter sur notre site, en cliquant <a asp-controller="Home" asp-action="Index" class="indexA">ICI</a></p>
</div>